.search_icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 24px;
    background-size: cover;
}
.btn_registration_slash {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    display: inline-block;
}
.btn_registration_slash:after {
    content: '/';
    margin: 0 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
}
.btn_registration_slash:hover {
    color: rgb(129, 129, 129);
    transition: 0.2s;
}
.btn_registration {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
}
.btn_registration:hover {
    color: rgb(129, 129, 129);
    transition: 0.2s;
 }
.basket_btn {
    cursor: pointer;
}
.bag_icon {
    display: block;
    height: 60px;
    width: 95px;
}
.open_basket {
    position: absolute;
    transform: translateX(-485px);
    display: none;
    width: 580px;
    cursor: default;
}
.basket_btn:hover .open_basket{
    display: block;
}
.btn_editBag {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 11px 24px 12px;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
}
.btn_editBag:hover {
    background-color: rgb(207, 207, 207);
    transition: 0.2s;
}
.btn_checkout {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    
    padding: 12px 32px 11px;
    background-color: #000;
    border-radius: 50px;
}
.btn_checkout:hover {
    background-color: #303030;
    transition: 0.2s;
}
.btn_white {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding: 14px 32px 15px;
    border-radius: 24px;
}
.btn_white:hover {
    transition: 0.2s;
    background-color: rgb(202, 202, 202);
}
.btn_black {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    padding: 14px 32px 15px;
    border-radius: 24px;
}
.btn_black:hover {
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
}
.btn_underline {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding-bottom: 6px;
    border-bottom: 1px solid #000;
}
.btn_underline:hover {
    color: rgb(90, 90, 90);
    transition: 0.2s;
    border-bottom: 1px solid  rgb(90, 90, 90);
}
.social_facebook {
    height: 40px;
    width: auto;
    display: inline-block;
    background-size: cover;
    margin-bottom: 16px;
}
.social_instagram {
    height: 40px;
    width: auto;
    display: inline-block;
    background-size: cover;
    margin-bottom: 16px;
}
.social_last  {
    height: 40px;
    width: auto;
    display: inline-block;
    background-size: cover;
}
.hover_btn:hover {
    transition: 0.2s;
    opacity: 60%;
}
.btn_social_last .btn_social_instagram .btn_social_facebook :hover {
    transition: 0.2s;
    opacity: 60%;
}

.btn_social_last .btn_social_instagram .btn_social_facebook :hover {
    transition: 0.2s;
    opacity: 60%;
}


.logo_container a {
    display: inline-block;
    height: 72px;
    width: auto;
}
.input_block {
    display: flex;
    align-items: center;
}
.input_stroke {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    min-width: 320px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 11px 16px 12px 16px;
    background-color: #2d2d2d;
    border: solid 2px #fff;
    outline: none;
    margin-right: 10px;
}
.input_stroke:focus-visible {
    border: solid 2px rgb(124, 155, 241);
    border-radius: 0px;
}

.btn_input {
    padding: 10px;
    width: 20px;
    height: 12px;
    font-size: 0px;
    border: none;
    background:none;
    background-size: cover;
    outline: none;
    cursor: pointer;
}
.btn_input:hover {
    opacity: 75%;
    transition: 0.2s;
}
.menu_nav {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    justify-content: space-between;
}
.menu_nav:hover {
    color:rgb(114, 114, 114);
    transition: 0.2s;
}
.menu_nav_brand {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
}
.menu_nav_brand:hover {
    color:rgb(114, 114, 114);
    transition: 0.2s;
}

.menu_nav_brand:before {
    position: absolute;
    content: '';
    margin-top: 4px;
    margin-left: -14px;
    height: 14px;
    width: 2px;
    background-color: #000;
    cursor: default;
}
